@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at center, #1b2735 0%, #090a0f 100%); /* 深邃夜空背景 */
  overflow: hidden;
  font-family: "ZCOOL KuaiLe", cursive;
}

#canvas-container {
  width: 100%;
  height: 100%;
}
